# Filename: templates/minio_env.j2
# MinIO Environment Configuration File managed by Ansible

# Set the volumes for distributed mode - Correct Syntax!
MINIO_VOLUMES="{% for host in groups['workers'] %}http://{{ hostvars[host]['ip'] }}{{ minio_data_dir }} {% endfor %}"

# Set the address and port for the API server and console
MINIO_OPTS="--console-address :9001 --address :9000"

# Set credentials (INSECURE - Use Vault!)
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}